.user_container {
  background-color: #0D0D2B;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;
}


.user {
  padding: 0 150px;
  position: relative;
  background-color: #0D0D2B;

  &_box {
    padding: 74px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__bg {
    background-image: url("../../assets/userBg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__border {
    padding: 52px 0 41px;
    background-image: url("../../assets/borderUser.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &_back {
    top: 105px;
    left: 25%;
    position: absolute;
    width: 60px;
    height: 60px;
    background: #3672E9;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      opacity: 0.4;
    }
  }

  &_avatar {
    width: 200px;
    height: 200px;
  }

  &_text {
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    color: #D1DFFA;
  }

  &_name {
    margin: 20px 0 12px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
  }
}


@media only screen and (max-width: 1024px) {
  .user {
    &_back {
      left: 200px;
    }
    &__border {
      background-image: none;
    }
  }
}


@media only screen and (max-width: 768px) {
  .user {
    &_back {
      width: 38px;
      height: 38px;
      left: 150px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .user {
    padding: 0;

    &_box {
      padding-top: 42px;
    }

    &__border {
      padding: 12px 0 15px;
      background-image: url("../../assets/mobilebgUser.png");
    }

    &_back {
      left: 50px;
    }

    &_avatar {
      width: 135px;
      height: 135px;
    }

    &_text {
      font-size: 14px;
      line-height: 24px;
    }

    &_name {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
