.wallet {
  padding: 80px 150px 100px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__card {
    width: 358px;
    height: 238px;
    background: linear-gradient(71.96deg, #005FCF 18.36%, #23B3E0 71.04%);
    border-radius: 16px;
    padding: 24px 26px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }

  &__box {
    width: 54px;
    height: 28px;
    background: #3672E9;
    border-radius: 10px;
  }

  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss04' on, 'ss03' on, 'liga' off;
    color: #F6FFFF;
    margin-bottom: 4px;
  }

  &__balance {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    margin-bottom: 49px;
  }

  &__action {
    background: #3672E9;
    border-radius: 16px;
    width: 310px;
    padding-top: 15px;
    padding-bottom: 15px;

    &_text {
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      color: #FFFFFF;
      text-align: center;
    }
  }

  &__plus {
    background: rgba(54, 114, 233, 0.5);
    border-radius: 32px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__confirm {
    outline: none;
    border: none;
    background: darkslateblue;
    border-radius: 32px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;

    &:hover {
      opacity: 0.3;
    }
  }

  &__address {
    color: #FFFFFF;
  }
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;

  &__icon {
    position: absolute;
    right: 100px;
  }
}


@media only screen and (max-width: 1024px) {
  .wallet {
    padding-inline: 16px;
  }

  .title__icon {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .wallet {

    &__wrapper {
      flex-direction: column;
    }
  }
}


