.footer {
  background-color: #0D0D2B;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 100px;
  position: relative;
  z-index: 1;

  &__logo {
    width: 38px;
    height: 23px;
  }

  &__header {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__left__row {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__left__column {
    display: flex;
    flex-direction: column;
  }
}

.logo__name {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}




.block_icons{
  display: flex;
  gap: 20px;
  &:hover{
    cursor: pointer;
  }
}


@media only screen and (max-width: 1440px) {
  .footer {
    padding: 24px 100px;
    &__left {
      gap: 30px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 24px 15px;
    &__logo {
      width: 31px;
      height: 19px;
    }
    &__header {
      font-weight: 500;
    }
    &__text {
      font-size: 10px;
      line-height: 15px;
    }
    &__left {
      display: flex;
      flex-direction: column;

    }
    &__right {
      justify-content: flex-end;
      gap: 6px;
    }
  }
  .logo__name {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .block_icon{
    width: 24px;
    height: 24px;
  }
}
